<div class="additional-info">
  <div>
    <h2><%= t 'additional_info.title' %></h2>
    <span class="explanation">
      (<%= t 'additional_info.explanation' %> <%= link_to_modal t('additional_info.help'), '#yaml-help' %>)
    </span>
    <%= render 'shared/additional_info/yaml_help' %>
  </div>
  <%= f.input :additional_info, as: :text, input_html: { value: f.object.additional_info.to_yaml.gsub("---\n", "")} %>
</div>
