<div class="list-filters" data-components="listFilter">

  <div class="filter-headline">
    <div class="title"><%= t 'lists.filters.title' %>
      <% unless list_filter.tags.empty? %>
      <span class="filtering-by">
        (<%= t 'lists.filters.filtering_by' %>: <em><%= list_filter.tags.join(', ') %></em>)
      </span>
    <% end %>
    </div>
    <div class="toggle-panel <%= I18n.locale %>" data-toggle="collapsed">
      <%= icon('chevron-down', t('js.lists.expand')) %>
    </div>
  </div>

  <div class="filter-form">
    <%= render 'shared/lists/filter_form', local_assigns %>
  </div>

</div>
