<li class="list-item <%= presenter.class_name %>">
  <div class="wrapper">
    <% if presenter.checkbox? %>
      <div class="item-checkbox">
        <input type="checkbox" value="<%= presenter.id %>">
      </div>
    <% end %>
    <a href="<%= presenter.url %>" title="<%= presenter.name %>">
      <div class="item-avatar">
        <%= presenter.avatar %>
      </div>
    </a>
    <div class="item">
      <a href="<%= presenter.url %>" title="<%= presenter.name %>">
        <h2 class="item-title"><%= presenter.title %></h2>
        <p class="item-excerpt"><%= presenter.description %></p>
      </a>
      <%= presenter.tags %>
    </div>
    <div class="item-controls">
      <%= presenter.controls %>
    </div>
  </div>
</li>
