<% size = local_assigns[:size] || :big %>
<li class="list-item <%= object_type object %> <%= size %>">
  <div class="wrapper">
    <% if local_assigns[:checkbox] %>
      <div class="item-checkbox">
        <input type="checkbox" value="<%= object[:id] %>">
      </div>
    <% end %>
    <a href="<%= url_for object %>" title="<%= object[:name] %>">
      <div class="item-avatar">
        <%= list_item_avatar_for object %>
      </div>
    </a>
    <div class="item">
      <a href="<%= url_for object %>" title="<%= object[:name] %>">
        <h2 class="item-title"><%= truncate strip_tags(object[:name]), length: (size == :small ? 55 : 85) %></h2>
        <p class="item-excerpt"><%= truncate(strip_tags(object[:description] || object[:about_me]), length: (size == :small ? 130 : 300))  %></p>
      </a>
      <% if size == :big and object.respond_to? :tags %>
        <%= render 'shared/tags', :tags => object[:tags] %>
      <% end %>
    </div>
    <div class="item-controls">
      <%= list_item_controls_for object, self, local_assigns[:control], local_assigns[:size] %>
    </div>
  </div>
</li>
