<li class="list-item big <%= item[:type] %>">
  <div class="wrapper">
    <a href="<%= item[:url] %>" title="<%= item[:title] %>">
      <div class="item-avatar">
        <% if item[:avatar] %>
          <%= image_tag item[:avatar].thumb.url %>
        <% else %>
          <% if item[:type] == :map %>
            <%= icon :globe %>
          <% elsif item[:type] == :data %>
            <%= icon :'map-marker' %>
          <% elsif item[:type] == :user %>
            <%= icon :user %>
          <% else %>
            <%= icon :question %>
          <% end %>
        <% end %>
      </div>
      <div class="item">
        <h2 class="item-title"><%= truncate item[:title], length: 85 %></h2>
        <p class="item-excerpt"><%= truncate item[:description], length: 300  %></p>
      </div>
    </a>
    <div class="item-controls">
      <% if local_assigns[:control] == :counters %>
        <%= render 'shared/counters', :object => item, :size => :medium %>
      <% end %>
    </div>
  </div>
</li>
