<% type = object_type object %>
<li class="list-item small <%= type %>">
  <div class="wrapper">
    <a href="<%= object[:url] %>" title="<%= object[:title] %>">
      <div class="item-avatar">
        <% if object[:avatar] %>
          <%= image_tag object[:avatar].thumb.url %>
        <% else %>
          <% if type == :map %>
            <%= icon :globe %>
          <% elsif type == :data %>
            <%= icon :'map-marker' %>
          <% elsif type == :user %>
            <%= icon :user %>
          <% else %>
            <%= icon :question %>
          <% end %>
        <% end %>
      </div>
      <div class="item">
        <h2 class="item-title"><%= truncate object[:title], length: 55 %></h2>
        <p class="item-excerpt"><%= truncate(object[:description] || object[:about_me], length: 130)  %></p>
      </div>
    </a>
    <div class="item-controls">
      <% if local_assigns[:control] == :counters %>
        <%= render 'shared/counters', :object => object, :size => :small %>
      <% end %>
    </div>
  </div>
</li>
