<% type = object_type object %>
<% size = local_assigns[:size] || :big %>
<li class="list-item <%= type %> <%= size %>">
  <div class="wrapper">
    <% if local_assigns[:checkbox] %>
      <div class="item-checkbox">
        <input type="checkbox" value="<%= object[:id] %>">
      </div>
    <% end %>
    <a href="<%= url_for object %>" title="<%= object[:name] %>">
      <div class="item-avatar">
        <% if object[:avatar] %>
          <%= image_tag object.avatar.thumb.url %>
        <% else %>
          <% if type == :map %>
            <%= icon :globe %>
          <% elsif type == :data %>
            <%= icon :'map-marker' %>
          <% elsif type == :user %>
            <%= icon :user %>
          <% else %>
            <%= icon :question %>
          <% end %>
        <% end %>
      </div>
    </a>
    <div class="item">
      <a href="<%= url_for object %>" title="<%= object[:name] %>">
        <h2 class="item-title"><%= truncate strip_tags(object[:name]), length: (size == :small ? 55 : 85) %></h2>
        <p class="item-excerpt"><%= truncate(strip_tags(object[:description] || object[:about_me]), length: (size == :small ? 130 : 300))  %></p>
      </a>
      <% if size == :big and object.respond_to? :tags %>
        <%= render 'shared/tags', :tags => object[:tags] %>
      <% end %>
    </div>
    <div class="item-controls">
      <% if local_assigns[:control] == :counters %>
        <%= render 'shared/counters',
          presenter: CountersPresenter.new(object: object, ctx: self, size: (size == :small ? :small : :medium))
        %>
      <% end %>
    </div>
  </div>
</li>
