<div class="menu">
  <div class="menu-item maps <%= 'active' if menu_active?('maps') %>">
    <a href="<%= maps_path %>">
      <%= icon "globe", t('header.menu.maps') %>
    </a>
  </div>
  <div class="menu-item data <%= 'active' if menu_active?('geo_data') %>">
    <a href="<%= geo_data_index_path  %>">
      <%= icon "map-marker", t('header.menu.data') %>
    </a>
  </div>
</div>
