<%= link_to_tooltip icon('cog'), '#settings-tooltip-tpl' %>

<script type="text/template" id="settings-tooltip-tpl" >
  <div class="settings-tooltip">

    <% if current_user %>
      <%= link_to icon('cogs', t('header.settings_menu.settings')), '#', class: 'settings-item' %>
    <% end %>

    <%= link_to_modal icon('flag-o', t('header.settings_menu.language')), "#language-selector", :html => {:class => 'settings-item'} %>

    <%= link_to icon('question', t('header.settings_menu.help')), '#', class: 'settings-item' %>

    <% if current_user %>
      <%= link_to icon('sign-out', t('header.settings_menu.logout')), logout_path, class: 'settings-item' %>
    <% end %>
  </div>
</script>

