<%= link_to_tooltip icon('bars'), '#settings-tooltip-tpl' %>

<template id="settings-tooltip-tpl">
  <ul class="settings-tooltip">

    <% if current_user && current_user.admin? %>
    <li><%= link_to icon('wrench', t('header.settings_menu.moderations')), '#', class: 'settings-item' %></li>

    <% end %>

    <% if current_user %>
      <li><%= link_to icon('cog', t('header.settings_menu.settings')), settings_path(current_user), class: 'settings-item' %></li>
    <% end %>

    <li><%= link_to_modal icon('flag-o', t('header.settings_menu.language')), "#language-selector", :html => {:class => 'settings-item'} %></li>

    <li><%= link_to icon('question', t('header.settings_menu.help')), '#', class: 'settings-item' %></li>

    <% if current_user %>
      <li><%= link_to icon('sign-out', t('header.settings_menu.logout')), logout_path, class: 'settings-item' %></li>
    <% end %>
  </ul>
</template>

