<div id="side-menu">
  <% if logged_in? %>
    <div class="menu-item notifications">
      <%= link_to icon('bell'), '#' %>
    </div>
    <div class="menu-item user-info">
      <%= render 'shared/header/user_info' %>
    </div>
  <% else %>
    <div class="menu-item login-button">
      <%= link_to_modal icon('sign-in', t('header.side_menu.login')), '#sign-in' %>
    </div>
  <% end %>
  <div id="menu-settings" class="menu-item" title="<%= t 'header.side_menu.settings_menu'%>">
    <%= render 'shared/header/settings_tooltip' %>
  </div>
</div>
