<nav id="side_menu">
  <ul>
    <% if logged_in? %>
    <li class="user_menu" class="dropdown_menu">
      <a href="<%= user_path(current_user) %>">
        <%= image_tag current_user.avatar.thumb , class: "user-image"%>
        <span class="user-name"><%= current_user.name %></span>
      </a>
    </li>
    <% else %>
    <li class="login_button">
      <%= link_to_modal t('header.sub_menu.login'), '#sign-in' %>
    </li>
  <% end %>
  <li id="menu-settings" title="<%= t 'header.sub_menu.settings_menu'%>">
    <%= icon "cog" %>
  </li>
  </ul>
</nav>
