<ul class="side-menu">
  <% if logged_in? %>
    <li class="menu-item notifications">
      <%= link_to icon('bell'), '#' %>
    </li>
    <li class="menu-item user-info">
      <%= render 'shared/header/user_info' %>
    </li>
  <% else %>
    <li class="menu-item login">
      <%= link_to_modal icon('sign-in', t('header.side_menu.login')), '#sign-in' %>
    </li>
  <% end %>
  <li id="menu-settings" class="menu-item settings" title="<%= t 'header.side_menu.settings_menu'%>">
    <%= render 'shared/header/settings_tooltip' %>
  </li>
</ul>
