<li class="<%= provider %>">

<a href="<%= auth_at_provider_path(:provider => provider) %>">
    <button class="<%= provider %>">
      <span class="login-<%= provider %> image"></span>
      <%= t "sessions.login_#{ provider }" %>
    </button>
  </a>
</li>
