<li class="<%= provider %>">

<a href="<%= auth_at_provider_path(:provider => provider) %>">
    <div class="button <%= provider %>">
      <span class="login-<%= provider %> image"></span>
      <%= t "sessions.login_#{ provider }" %>
    </div>
  </a>
</li>
