<li class="<%= provider %>">
  <a href="#login_<%= provider %>">
    <button class="<%= provider %>">
      <span class="login-<%= provider %> image"></span>
      <%= t "sessions.login_#{ provider }" %>
    </button>
  </a>
</li>
