<%= link_to_modal icon("download"), "#", html: {class: "download"} %>
<%= link_to_modal icon("globe", t("geo_data.add_map.title")), "#add-to-map-modal", login_required: true, html: {class: "add-to-map"} %>

<%= render "geo_data/add_map_modal", geo_data: geo_data %>

<section class="main-info">

  <div class="data-tabs" data-components="tabs">
    <ul>
      <li><a href="#content"><%= icon "file-text", t('geo_data.tabs.content') %></a></li>
      <li><a href="#relations"><%= icon "link", t('geo_data.tabs.relations') %></a></li>
      <li><a href="#media"><%= icon "picture-o", t('geo_data.tabs.media') %></a></li>
      <li><a href="#talk"><%= icon "comments", t('geo_data.tabs.talk') %></a></li>
    </ul>

    <div class="extra-info" >
      <%= render 'shared/contacts/view', object: geo_data %>
      <%= render 'shared/tags', tags: geo_data.tags %>
    </div>

    <div class="tab-content" id="content">
      <div class="description">
        <% if geo_data.description.blank? %>
          <%= t 'geo_data.description.empty', name: geo_data.name %>
        <% else %>
          <%= raw geo_data.description %>
        <% end %>
      </div>
      <%= render 'shared/additional_info/show', object: geo_data %>
    </div>
    <div class="tab-content" id="relations">
      <%= render 'relations/show', relations: geo_data.relations_values %>
    </div>
    <div class="tab-content" id="media">
      Media Placeholder
    </div>
    <div class="tab-content" id="talk">
      Talk Placeholder
    </div>
  </div>

</section>
