<div class="list-actions">
  <button class="select-all-btn" data-components='selectAll'>
    <input type="checkbox" name="all" /><%= t 'lists.select_all' %>
  </button>

  <%= link_to_modal icon("globe", t("geo_data.add_map.title")), "#bulk-add-to-map-modal",
        login_required: true, html: {class: "add-to-map", id: "bulk-add-to-map"} %>

  <%= render "geo_data/bulk_add_map_modal" %>

  <%= link_to icon('upload', ''), '#', class: 'upload-btn' %>
  <%= render 'shared/export/export_object', object: nil %>


  <%= link_to icon('map-marker', t('geo_data.list.add_new')), new_geo_data_path, class: 'add-new-btn' , "data-components" => "loginRequired" %>
</div>
