<%= render 'shared/toolbar', :object => @data, :only => data_tools(@data) %>

<div class="page data-view" >
  <header>
    <div class="title">
      <h1 class="name"><%= @data.name %></h1>
      <%= render 'shared/counters', :object => @data %>
    </div>
  </header>

  <section class="location">
    <% if @data.location %>
      <div class="map" data-components="map" data-geojson='<%= raw @data.location_geojson %>'></div>
    <% else %>
      <div data-components='overlay' data-overlay='<%= {style: "dark", message: t("users.profile.location.empty")}.to_json %>'>
        <%= image_tag "imgs/map-placeholder-wide.png", :alt => 'data location', :class => 'placeholder' %>
      </div>
    <% end %>
  </section>

  <section class="main-info">

    <div class="data-tabs" data-components="tabs">
      <ul>
        <li><a href="#content"><%= icon "file-text", t('geo_data.tabs.content') %></a></li>
        <li><a href="#relations"><%= icon "link", t('geo_data.tabs.relations') %></a></li>
        <li><a href="#media"><%= icon "picture-o", t('geo_data.tabs.media') %></a></li>
        <li><a href="#talk"><%= icon "comments", t('geo_data.tabs.talk') %></a></li>
      </ul>

      <div class="extra-info" >
        <%= render 'shared/contacts/view', :object => @data %>
        <%= render 'shared/tags', :tags => @data.tags %>
      </div>

      <div class="tab-content" id="content">
        <div class="description">
          <% if @data.description.blank? %>
            <%= t 'geo_data.description.empty', :name => @user.name %>
          <% else %>
            <%= raw @data.description %>
          <% end %>
        </div>
      </div>
      <div class="tab-content" id="relations">
        Relations Placeholder
      </div>
      <div class="tab-content" id="media">
        Media Placeholder
      </div>
      <div class="tab-content" id="talk">
        Talk Placeholder
      </div>
    </div>

  </section>
</div>
