<div class="relations edit" data-components="relations">
  <button class="add-new-relation" title="<%= t 'relations.title.add' %>">
    <%= icon 'plus',  t('relations.add') %>
  </button>


  <script type="text/template" id="relation-form-template">
    <div class="relation-item">
      <%= select_tag :relation_type, options_for_select(f.object.class.relations_options), include_blank: true,
          "data-components" => "chosen", "data-placeholder" => t('relations.relation_type_placeholder') %>
      <%= autocomplete_field_tag "relation_target", search_by_name_geo_data_index_path %>
      <%= link_to icon('plus', ''), '#', class: "relation-metadata", title: t("relations.title.metadata") %>
      <%= link_to icon('trash-o', ''), '#', class: "relation-remove", title: t("relations.title.remove") %>
    </div>
  </script>
</div>
