<%= link_to icon('book', ''), "#metadata-info-#{relation_id}", class: 'metadata-btn', "data-mpt-components" => "togglePanel" %>

<div id="metadata-info-<%= relation_id %>" class="metadata-info">
  <% unless metadata[:description].blank? %>
    <div class="metadata-item">
      <div class="metadata-key"> <%= t('relation.metadata.description') %>:</div>
      <div class="metadata-value"> <%= raw metadata[:description] %></div>
    </div>
  <% end %>

  <% if metadata[:start_date] %>
    <div class="metadata-item">
      <div class="metadata-key"> <%= t('relation.metadata.start_date') %>:</div>
      <div class="metadata-value"> <%= l metadata[:start_date], format: :long %></div>
    </div>
  <% end %>

  <% if metadata[:end_date] %>
  <div class="metadata-item">
    <div class="metadata-key"> <%= t('relation.metadata.end_date') %>:</div>
    <div class="metadata-value"> <%= l metadata[:end_date], format: :long %></div>
  </div>
  <% end %>

  <% if metadata[:currency] && metadata[:amount] %>
    <div class="metadata-item">
      <div class="metadata-key"> <%= t('relation.metadata.value') %>:</div>
      <div class="metadata-value">
        <span class="currency"><%= currency_symbol(metadata[:currency])%> </span>
        <span class="amount"><%= metadata[:amount].round(2) %></span>
      </div>
    </div>
  <% end %>

</div>
