<%= link_to_modal icon("map-marker", t("maps.add_geo_data.title")), "#add-data-modal", login_required: true, html: {class: "add-data"} %>

<div id="add-data-modal" class="add-data-modal" data-components="addMapping"
     data-addmapping-options="<%= { mapping: 'geo_data', formId: 'add-data-form', objectIdentifier: identifier_for(map) }.to_json %>">
  <header><h2><%= t 'maps.add_geo_data.title' %></h2></header>
  <section>
    <div class="explanation"><%=  t 'maps.add_geo_data.explanation' %></div>
    <%= form_tag add_geo_data_map_path(map), method: :post, id: "add-data-form", remote: true, "data-components" => "remoteForm" do %>
      <p>
        <%= autocomplete_field_tag :geo_data, search_by_name_geo_data_index_path %>
      </p>

      <p class="btns">
        <%= submit_tag t('save'), class: "submit-btn" %>
      </p>
    <% end %>
  </section>
</div>
