<section class="main-info">

  <div class="map-tabs" data-mpt-components="tabs">
    <ul>
      <li><a href="#content"><%= icon "file-text", t('maps.tabs.content') %></a></li>
      <li><a href="#data"><%= icon "map-marker", t('maps.tabs.data') %></a></li>
      <li><a href="#talk"><%= icon "comments", t('maps.tabs.talk') %></a></li>
    </ul>

    <div class="extra-info" >
      <%= render 'shared/contacts/edit', :object => map %>
      <div class="tags">
        <%= tags_input f, :tags, map.tags %>
      </div>
    </div>

    <div class="tab-content" id="content">
      <div class="description">
        <%= f.input :description, :as => :text, :input_html => {:class => 'tinymce', 'data-mpt-components' => 'editor'} %>
      </div>
      <%= render 'shared/additional_info/edit', f: f %>
    </div>
    <div class="tab-content" id="data">
      Data Placeholder
    </div>
    <div class="tab-content" id="talk">
      Talk Placeholder
    </div>
  </div>

</section>
