
<%= render 'shared/export/export_object', object: map %>
<%= render "maps/add_geo_data_modal", map: map %>

<section class="main-content">

  <div class="map-tabs" data-components="tabs">
    <ul>
      <li><a href="#content"><%= icon "file-text", t('maps.tabs.content') %></a></li>
      <li><a href="#data"><%= icon "map-marker", t('maps.tabs.data') %></a></li>
      <li><a href="#talk"><%= icon "comments", t('maps.tabs.talk') %></a></li>
    </ul>

    <div class="tab-content" id="content">
      <div class="main-info">
        <div class="description">
          <% if map.description.blank? %>
            <p class="empty"><%= t 'maps.description.empty', name: map.name %></p>
          <% else %>
            <%= raw map.description %>
          <% end %>
        </div>
        <%= render 'shared/additional_info/show', object: map %>
      </div>
      <div class="extra-info" >
        <%= render 'users/administrator', user: map.administrator %>
        <%= render 'shared/contacts/view', object: map %>
        <%= render 'shared/tags', tags: map.tags %>
      </div>
    </div>


    <div class="tab-content" id="data" data-components="list" data-list='{"scroll": {"behavior": "local"}}'>
      <div id="geo_data_collection-pagination">
        <%= paginate @geo_data_collection, remote: true,
          params: {controller: 'maps', action: 'geo_data', user_id: map.id} %>
      </div>
      <ul id="geo_data-list" class="list geo_data-list">
        <% unless @geo_data_collection.empty? %>
          <%= render @geo_data_collection, :size => :small %>
        <% else %>
          <p class="empty"><%= t 'maps.data.empty', name: map.name %></p>
        <% end %>
      </ul>
    </div>

    <div class="tab-content" id="talk">
      <%= render 'comments/list', comments: map.comments, object: map %>
    </div>
  </div>

</section>
