<div class="site-page full map-list maps index">

  <%# We can't sort maps by location and don't makes sense display maps using map visualization, so let's hide these options %>
  <%= render 'shared/lists/filters', filter_params: @filter_params, hide_location: true, hide_visualization: true %>

  <div data-components="list">
    <div class="list-headline">
      <h1 class="title">
        <%= raw t('maps.list.title', :count => "<em>#{@maps_collection.total_count}</em>") %>
        <span class="selected-count"></span>
      </h1>
      <div id="map-pagination"><%= paginate @maps_collection, :remote => true %></div>
    </div>

    <%= render 'maps/list_actions' %>

    <ul id="map-list" class="list map-list">
      <%= render @maps_collection, :checkbox => true %>
    </ul>
  </div>

</div>
