<div class="main-info">
  <div class="about">
    <div class="about-text">
      <% unless user.about_me? %>
        <%= t 'users.profile.about_me.empty', name: user.name.split.first %>
      <% else %>
        <%= raw user.about_me %>
      <% end %>
    </div>
  </div>
</div>

<div class="involvement" data-components="tabs">
  <ul>
    <li><a href="#contributions"><%= icon "edit", t('users.profile.contributions') %></a></li>
    <li><a href="#activity"><%= icon "clock-o", t('users.profile.activity') %></a></li>
    <li><a href="#following"><%= icon "star", t('users.profile.following') %></a></li>
    <% if show_imports?(user) %>
    <li><a href="#importations"><%= icon "table", t('users.profile.importations') %></a></li>
    <% end %>
  </ul>

  <%= render 'users/contributions_list', user: user, contributions: @contributions %>
  <%= render 'users/activities_list',    user: user, activities:    @activities    %>
  <%= render 'users/following_list',     user: user, following:     @following     %>
  <%= render 'users/imports_list',       user: user, imports:       @imports       %>
</div>
