<div class="main-info">
  <div class="about">
    <div class="about-text">
      <% unless user.about_me? %>
        <%= t 'users.profile.about_me.empty', name: user.name.split.first %>
      <% else %>
        <%= raw user.about_me %>
      <% end %>
    </div>
  </div>
</div>

<div class="involvement" data-mpt-components="tabs">
  <ul>
    <li><a href="#contributions"><%= icon "edit", t('users.profile.contributions') %></a></li>
    <li><a href="#activity"><%= icon "clock-o", t('users.profile.activity') %></a></li>
    <li><a href="#following"><%= icon "star", t('users.profile.following') %></a></li>
  </ul>

  <div id="contributions" data-mpt-components="list" data-list='{"scroll": {"behavior": "local"}}'>
    <div id="contributions-pagination">
      <%= paginate @contributions, remote: true,
        params: {controller: 'contributings', action: 'contributions', user_id: user.id} %>
    </div>
    <ul id="contributions-list" class="list contributions-list">
      <% unless @contributions.empty? %>
        <%= render @contributions, :size => :small %>
      <% else %>
        <p><%= t 'contributings.empty.contributions' %></p>
      <% end %>
    </ul>
  </div>

  <div id="activity">
    Activity Placeholder
  </div>

  <div id="following" data-mpt-components="list" data-list='{"scroll": {"behavior": "local"}}'>
    <div id="following-pagination"><%= paginate @following, :remote => true,
      :params => {:controller => 'followings', :action => 'following', :user_id => @user.id} %></div>
    <ul id="following-list" class="list following-list">
      <% unless @following.empty? %>
        <%= render @following, :size => :small, :control_type => :follow_button %>
      <% else %>
        <p><%= t 'followings.empty.following', {name: @user.name} %></p>
      <% end %>
    </ul>
  </div>
</div>
