<%= render 'shared/toolbar', :object => @user %>

<div id="user-profile" class="edit" >
  <%= remote_form_for @user do |f| %>

  <div class="form-actions">
    <%= submit_tag t('save_changes'), :class => "edit-save" %>
    <%= link_to t('cancel'), url_for(@user) %>
  </div>

  <div class="left-pane">
    <div class="user-avatar">
      <%= image_tag @user.avatar.thumb.url, :alt => 'user picture' %>
      <%= f.input :avatar, :as => :file, :input_html => {'data-components' => 'uploader'} %>
    </div>

    <div class="user-location">
      <!-- TODO: add map editor -->
      <%= image_tag "imgs/map-placeholder.png", :alt => 'user location' %>
    </div>
  </div>

  <div class="central-pane">
    <h1 class="user-name"><%= f.input :name %></h1>

    <div class="user-main-info">
      <div class="user-about">
        <%= f.input :about_me, :as => :text, :input_html => {:class => 'tinymce', 'data-components' => 'editor'} %>
      </div>
    </div>

    <div class="user-extra-info">
      <%= render 'shared/contacts_form', :object => @user %>
    </div>
  </div>
  <% end %>
</div>
