<div id="edit-password">
  <h1><%= t 'users.forgot_password.edit_title' %></h1>
  <%= remote_form_for @user, :url => update_password_users_path, :method => :post do |f| %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
    <%= hidden_field_tag :token, @token %>
    <p>
      <%= submit_tag t('submit') %>
    </p>
  <% end %>
</div>
