<%= render 'shared/toolbar', :object => @user, :only => user_tools(@user)%>

<div class="site-page users edit" >
  <%= remote_form_for @user do |f| %>

  <div class="form-actions" data-components="stick" data-stick='{ "get_width_from": ".users.site-page" }'>
    <%= submit_tag t('save'), :class => "edit-save" %>
    <%= link_to t('cancel'), url_for(@user) %>
  </div>

  <div class="side-pane">
    <div class="avatar">
      <%= image_tag @user.avatar.thumb.url, :alt => 'user picture' %>
      <%= f.input :avatar, :as => :file, :input_html => {'data-components' => 'uploader'} %>
    </div>

    <div class="extra-info">
      <%= render 'shared/contacts/edit', :object => @user %>
      <div class="tags">
        <%= tags_input f, :interests, @user.interests %>
      </div>
   </div>
  </div>

  <div class="central-pane">
    <h1 class="name"><%= f.input :name %></h1>

    <div class="location">
      <div class="map" data-components="map" data-editor="true" data-geojson='<%= raw @user.location_geojson %>'></div>
    </div>

    <div class="main-info">
      <div class="about">
        <%= f.input :about_me, :as => :text, :input_html => {:class => 'tinymce', 'data-components' => 'editor', 'data-height' => 200 } %>
      </div>
    </div>
  </div>

  <% end %>
</div>
