<%= render 'shared/toolbar', :object => @user %>

<div id="user-profile" class="edit" >
  <%= remote_form_for @user do |f| %>

  <div class="form-actions">
    <%= submit_tag 'Save changes', :class => "edit-save" %>
    <%= link_to 'Cancelar', url_for(@user) %>
  </div>

  <div class="left-pane">
    <div class="user-picture">
      <%= image_tag "imgs/profile-placeholder.png", :alt => 'user picture' %>
    </div>

    <div class="user-location">
      <%= image_tag "imgs/map-placeholder.png", :alt => 'user location' %>
    </div>

    <div class="user-projects" data-components="overlay">
      <h2>Projects</h2>
      <ul>
        <li class="user-projects-item">
          <%= image_tag "imgs/aldeias-infantis.png" %>
          <span><a href="#" >Aldeias Infantis</a></span>
        </li>
        <li class="user-projects-item">
          <%= image_tag "imgs/heliopolis-verde.png" %>
          <span><a href="#">Verdejando heliopolis</a></span>
        </li>
      </ul>
    </div>
  </div>

  <div class="central-pane">
    <h1 class="user-name"><%= f.input :name %></h1>

    <%= render 'shared/contacts_form', :object => @user %>

    <div class="user-about">
      <h2>About me</h2>
      <%= f.input :about_me, :as => :text, :input_html => {:class => 'tinymce', 'data-components' => 'editor'} %>
    </div>

    <div class="user-contributions" data-components="overlay">
      <h2>Last Contributions</h2>
      <%= render 'updates/last_updates' %>
    </div>

  </div>
  <% end %>
</div>
