<div class="forgot-password">
  <h1><%= t 'users.forgot_password.title' %></h1>
  <%= form_tag reset_password_users_path, :method => :post do %>
    <p class="field">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </p>
    <p>
      <%= submit_tag t "submit" %>
    </p>
  <% end %>
</div>
