<section id="sign-up" data-components="modal" >

  <header>
    <h1><%=  t 'sessions.signup' %></h1>
  </header>

  <%= simple_form_for @user do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation %>
  <% end %>

</section>
