<ul class="counters">
  <% presenter.counters.each do |counter| %>
    <li class="counter <%= counter.classname %>"
      <% if counter[:component] %>
        data-mpt-components="<%= counter.component[:type] %>" <%= counter.component[:opts] %>
      <% end %>
  >
      <a href="<%= counter.url %>" title="<%= t(counter.string, :count => counter.count) %>" data-mpt-components="modal" data-modal-options='{ "remote": true }'>
        <%= icon counter.icon %><span class="counter-value">
          <%= raw counter.value %>
        </span>
      </a>
    </li>
  <% end %>
</ul>
