<div class="footer">
  <hr />

  <div class="it3s">
    <h3><%= t('footer.realization') %></h3>
    <a href="http://maps.mootiro.org/organization/253"> <span class="it3s-logo"></span> </a>
  </div>

  <div class="license">
    <h3><%= t('footer.license') %></h3>
    <p>
      <%= raw t('footer.creative_commons') %>
    </p>
  </div>

  <div class="supporters">
    <h3><%= t('footer.support') %></h3>
    <a href="http://maps.mootiro.org/organization/1468" target="_blank">
      <span class="cea-logo"></span>
    </a>
  </div>

  <div class="partners">
    <h3><%= t('footer.partners') %></h3>
    <a href="http://maps.mootiro.org/organization/25" target="_blank">
      <span class="cenpec-logo"></span>
    </a>
    <a href="http://maps.mootiro.org/organization/1998" target="_blank">
      <span class="aldeias-logo"></span>
    </a>
    <br/>
    <a href="http://maps.mootiro.org/organization/20" target="_blank">
      <span class="cedaps-logo"></span>
    </a>
    <br/>
    <a href="http://maps.mootiro.org/organization/4228" target="_blank">
      <span class="soudapaz-logo"></span>
    </a>
    <a href="http://maps.mootiro.org/organization/15997" target="_blank">
      <span class="polis-logo"></span>
    </a>
  </div>

</div>
