<div class="footer">
  <hr />

  <div class="it3s">
    <h3><%= t('footer.realization') %></h3>
    <a href="http://maps.mootiro.org/organization/253"> <span class="image"></span> </a>
  </div>

  <div class="license">
    <h3><%= t('footer.license') %></h3>
    <p>
      <%= raw t('footer.creative_commons') %>
    </p>
  </div>

 <!--  <div class="supporters">
    <h3><%= t('footer.support') %></h3>
    <a href="http://maps.mootiro.org/organization/1468" target="_blank">
      <img class="cea-logo" src="{{ STATIC_URL }}img/supporters/cea-footer.png" alt="Instituto C&amp;A" />
    </a>
  </div>

  <div class="partners">
    <h3><%= t('partners') %></h3>
    <a href="http://maps.mootiro.org/organization/25" target="_blank">
      <img src="{{ STATIC_URL }}img/partners/cenpec.png" alt="Cenpec" />
    </a>
    <a href="http://maps.mootiro.org/organization/1998" target="_blank">
      <img src="{{ STATIC_URL }}img/partners/aldeias.png" alt="Aldeias Infants" />
    </a>
    <br/>
    <a href="http://maps.mootiro.org/organization/20" target="_blank">
      <img src="{{ STATIC_URL }}img/partners/cedaps.png" alt="Cedaps" />
    </a>
    <br/>
    <a href="http://maps.mootiro.org/organization/4228" target="_blank">
      <img src="{{ STATIC_URL }}img/partners/sou-da-paz.jpg" alt="Instituto Sou da Paz" />
    </a>
    <a href="http://maps.mootiro.org/organization/15997" target="_blank">
      <img src="{{ STATIC_URL }}img/partners/polis.jpg" alt="Instituto Pólis" />
    </a>
  </div> -->

</div>
