<div class="toolbar">
  <ul class="toolbar-buttons" role="toolbar" data-components="stick">
    <% presenter.tools.each do |tool| %>
      <li title="<%= tool.title.first %>">
        <a class="<%= 'active' if tool.active? %>" href="<%= tool.url %>"
          <% if tool.component %>
            data-components="<%= tool.component[:type] %>" <%= tool.component[:opts] %>
          <% end %>
         role="button">
          <%= icon tool.icon, '', :class => "fa-lg fa-fw" %>
        </a>
      </li>
    <% end %>
  </ul>
</div>
