<div id="search-results-wrapper">
  <div id="search-results" data-components="list modal" data-modal-options="<%= {:autoload => true}.to_json %>" >
    <h2 class="title"><%= t 'search.title' %></h2>
    <div id="search-pagination"><%= paginate @results, :remote => true %></div>
    <ul id="search-results-list" class="list search-results-list">
        <% unless @results.empty? %>
          <%= render @results, :size => :small %>
        <% else %>
          <p class="empty"><%= t('search.empty') %></p>
        <% end %>
    </ul>
  </div>
</div>
