<%= link_to_modal icon('upload'), '#import-modal', login_required: true, html: {class: 'upload-btn', title: 'Upload content in batch'} %>

<div id="import-modal" class="import-modal" >
  <header><h2><%= t 'import.title' %></h2></header>

  <section>
    <p class="explanation"><%=  t 'import.explanation' %></p>

    <p class="example">
      <%= t 'import.example' %>: <%= link_to icon('file-text', t('import.example_link')), example_imports_path %>
    </p>

    <div class="upload-file-wrapper">
      <p class="field file" >
        <input type="file" class="file-field" name="import[source]"
               data-components="importUploader"
               data-importuploader-options='<%= {url: imports_path }.to_json %>' />
      </p>
    </div>
  </section>
</div>
