<div class="site-page imports edit">

  <header class="title">
    <h1><%= t 'import.edit.title', fname: @import.source.file.filename %></h1>
  </header>

  <div class="import-file">
    <label><%= t 'import.edit.file_field' %>: </label>
    <p class="field file" >
      <input type="file" class="file-field" name="import[source]"
             data-components="importUploader"
             data-importuploader-options='<%= {url: "/" }.to_json %>' />
    </p>
  </div>

  <section class="parsed-data">
    <% @parsed_data.each_with_index do |data, index| %>
      <div id="parsed-data-<%= index %>" class="json-table"
        data-components="jsonTable" data-jsontable-options='<%= {jsonData: data}.to_json %>'>
      </div>
    <% end %>
  </section>

</div>
