<div class="frontpage">

  <section class="title">
    <header>
      <span class="maps-logo"></span>
      <h1><%= t 'frontpage.title' %></h1>
    </h1>

    <div class="video">
      <iframe src="http://player.vimeo.com/video/56746348?title=0&amp;byline=0&amp;portrait=0&amp;color=28b8ce" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>

  <section class="call-for-action">
    <!-- {% if user.is_anonymous %} -->
      <h2><%= t 'frontpage.call.anyone' %>
        <a class="big button" href="#"><%= t 'frontpage.call.create_account' %></a>
      </h2>
    <!-- {% else %} - ->
      <h2><%= t 'frontpage.call.participate' %>, Anderson?
        <a href="#map-panel-add"><%= t 'frontpage.call.edit' %></a>
      </h2>
    <!- - {% endif %} -->
  </section>

</div>
