<div class="frontpage">

  <section class="title">
    <header>
      <span class="maps-logo"></span>
      <h1><%= t 'frontpage.title' %></h1>
    </h1>

    <div class="video">
      <iframe src="http://player.vimeo.com/video/56746348?title=0&amp;byline=0&amp;portrait=0&amp;color=28b8ce" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>

  <section class="call-for-action">
    <%# if current_user %>
      <h2><%= t 'frontpage.call.participate' %>, Anderson?
        <a href="#map-panel-add"><%= t 'frontpage.call.edit' %></a>
      </h2>
    <%# else %>
      <!-- <h2><%= t 'frontpage.call.anyone' %> -->
      <!--   <a class="big button" href="#"><%= t 'frontpage.call.create_account' %></a> -->
      <!-- </h2> -->
    <%# end %>
  </section>

  <section class="what-is-it-for">
    <h2><%= t 'frontpage.what.what_is_it_for' %></h2>

    <% use_cases.each do |use_case| %>  <%# pages_helper#use_cases %>
      <a href="<%= use_case[:href] %>">
        <div class="topic">
          <h3><%= use_case[:title] %></h3>
          <%= image_tag use_case[:image] %>
          <p><%= use_case[:text] %></p>
        </div>
      </a>
    <% end %>
  </section>


<!--   <section class="projects">
    <h2>{% trans "Projects that uses MootiroMaps" %}</h2>

    <div class="flexslider">
      <ul class="slides">
        <li class="aldeias-infantis">
          <a href="http://maps.mootiro.org/project/17"><img src="{{STATIC_URL}}img/frontpage/aldeias-infantis.png"/></a>
          <p class="testimony">
            “O MootiroMaps permite não apenas vizualizar o local onde está o possível parceiro, mas também obter informações sobre seus serviços e esfera de atuação. Para as Aldeias Infantis SOS, a ferramenta é um potencial para a identificação do nível de articulação desenvolvido.”
            <br/>
            <span class="author-info">
              — <a href="http://maps.mootiro.org/user/259">Aline Cavalcanti</a>, Analista de Monitoramento e<br/> Pesquisa das <a href="http://maps.mootiro.org/organization/2134">Aldeias Infantis SOS</a>.
            </span>
          </p>
        </li>
        <li class="heliopolis-verde">
          <a href="http://maps.mootiro.org/project/2"><img src="{{STATIC_URL}}img/frontpage/heliopolis-verde.png"/></a>
          <p class="testimony">
            “O primeiro passo de um projeto social de base comunitária é a realização de um mapa de contexto, a fim de identificar demandas e conhecer os atores locais. A visualização das informações e a possibilidade de mapear coletivamente com o MootiroMaps favorecem e facilitam nosso trabalho com o Heliópolis Verde.”
            <br/>
            <span class="author-info">
              — <a href="http://maps.mootiro.org/user/101">Raquel Porangaba</a>, Analista de articulação <br/> do <a href="http://maps.mootiro.org/organization/793">Instituto Baccarelli</a>.
            </span>
          </p>
        </li>
        <li class="bairro-educador">
          <a href="http://maps.mootiro.org/project/22"><img src="{{STATIC_URL}}img/frontpage/bairro-educador.png"/></a>
          <p class="testimony">
            “É importante criarmos o mapa de nossa comunidade porque é possível quantificar no MootiroMaps a necessidade da comunidade em relação às políticas públicas bem como acompanhar os serviços públicos e as obras que acontecem em Heliópolis.”
            <br/>
            <span class="author-info">
              — Cleide Alves, Presidente da <a href="http://maps.mootiro.org/organization/796">UNAS</a>.
            </span>
          </p>
        </li>
        <li class="educar-na-cidade">
          <a href="http://maps.mootiro.org/project/13"><img src="{{STATIC_URL}}img/frontpage/educar-na-cidade.jpg"/></a>
          <p class="testimony">
            “Mapeamos equipamentos sociais e iniciativas educativas para estimular a interação entre pessoas e organizações possibilitando assim a troca de experiências e conexões que fortaleçam vínculos entre esses agentes para o trabalho em rede e desenvolvimento local.”
            <br/>
            <span class="author-info">
              — <a href="http://maps.mootiro.org/user/237">Maria Rita Ecosteguy</a>, analista do <a href="http://maps.mootiro.org/organization/25">CENPEC</a>.
            </span>
          </p>
        </li>
      </ul>
    </div>

  </section> -->


</div>
