<div class="frontpage" data-components="animation">

  <section class="marketing-section">
    <div class="wrapper">
    <div class="content">
      <div class="marketing-section-main">
        <h1 class="animation bounceInDown"><%= t 'frontpage.title' %></h1>
        <%= image_tag 'imgs/marketing-screenshots.png', class: 'screenshots animation fadeIn' %>
      </div>
      <div class="marketing-section-signup">
        <%= link_to_modal t('frontpage.call.create_account'), new_user_path, remote: true, html: {class: 'big button signup'} %>
        <%= link_to_modal t('frontpage.call.login'), '#sign-in', html: {id: "call-sign-in-modal", class: "marketing-section-login"} %>
      </div>
    </div>
    </div>
  </section>

  <section class="what-is-it-for">
    <div class="wrapper">
    <div class="content">
      <h2 class="animation fadeIn"><%= t 'frontpage.what.what_is_it_for' %></h2>
      <% delay = 0 %>
      <% use_cases.each do |use_case| %>  <%# pages_helper#use_cases %>
        <a href="<%= use_case[:href] %>">
          <div class="topic animation fadeIn">
            <span class="image usecase <%= use_case[:sprite] %>"></span>
            <h3><%= use_case[:title] %></h3>
            <p><%= use_case[:text] %></p>
          </div>
        </a>
      <% end %>
    </div>
    </div>
  </section>

  <section class="featured-maps">
    <div class="wrapper">
    <div class="content">
      <h2 class="animation fadeIn"><%= t 'frontpage.featured.featured-maps' %></h2>
      <% delay = 0 %>
      <% featured_maps(3).each do |map| %>  <%# pages_helper#featured_maps %>
        <% delay = delay + 0.25 %>
        <a class="map animation fadeIn" data-wow-delay="<%= delay %>s" href="<%= url_for map %>">
          <%= image_tag map[:image] %>
          <h3><%= sanitize map[:name] %></h3>
          <p><%= truncate sanitize(map[:description]), length: 150 %></p>
        </a>
      <% end %>
    </div>
    <div class="explore">
      <a class="big button" href="<%= maps_path %>">
        <%= icon "globe", t('frontpage.featured.explore') %>
      </a>
    </div>
    </div>
  </section>

  <section class="testimonials">
    <div class="wrapper">
    <div class="content">
      <h2 class="animation fadeIn"><%= t 'frontpage.testimonials.title' %></h2>

      <div class="flexslider animation fadeIn" data-components="flexslider">
        <ul class="slides">
          <% testimonials.each do |testimonial| %>  <%# pages_helper#testimonials %>
            <li class="<%= testimonial[:name] %>">
              <a href="<%= testimonial[:href] %>"><%= image_tag testimonial[:image] %></a>
              <p class="testimony">
                “<%= testimonial[:text] %>” <br/>
                <span class="author-info">
                  — <a href="<%= testimonial[:author_href] %>"><%= testimonial[:author_name] %></a>,
                  <%= raw testimonial[:author_title] %>.
                </span>
              </p>
            </li>
          <% end %>
        </ul>
      </div>
      <div class="formely-known-as"><%= t 'frontpage.testimonials.formely_konwn_as' %></div>
    </div>
    </div>
  </section>

  <section class="partners">
    <div class="wrapper">
    <div class="content">
      <h2 class="animation fadeIn"><%= t 'frontpage.partners.title' %></h2>
      <div class="animation fadeIn">
        <span class="image medium cea-logo"></span>
      </div>
      <div class="animation fadeIn">
        <span class="image medium cenpec-logo"></span>
      </div>
      <div class="animation fadeIn">
        <span class="image medium aldeias-logo"></span>
      </div>
      <div class="animation fadeIn">
        <span class="image medium cedaps-logo"></span>
      </div>
      <div class="animation fadeIn">
        <span class="image medium soudapaz-logo"></span>
      </div>
      <div class="animation fadeIn">
        <span class="image medium polis-logo"></span>
      </div>
    </div>
    </div>
  </section>

  <section class="news">
    <div class="wrapper">
    <div class="content">
      <h2 class="animation fadeIn"><%= t 'frontpage.news.title' %></h2>
      <div class="animation fadeIn">
        <%= render 'pages/blog_updates', :news => @news %>
      </div>
      <div class="animation fadeIn">
      <%= render 'pages/updates', :updates => [] %>
      </div>
    </div>
    </div>
  </section>

  <section class="signup-bottom">
    <div class="wrapper">
    <div class="content">
      <%= link_to_modal t('frontpage.call.create_account'), new_user_path, remote: true, html: {class: 'big button signup animation bounceInDown'} %>
    </div>
    </div>
  </section>
</div>
