<div class="frontpage">

  <section class="title">
    <header>
      <span class="maps-logo"></span>
      <h1><%= t 'frontpage.title' %></h1>
    </h1>

    <div class="video">
      <iframe src="http://player.vimeo.com/video/56746348?title=0&amp;byline=0&amp;portrait=0&amp;color=28b8ce" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>

  <section class="call-for-action">
    <% if logged_in? %>
      <h2><%= t 'frontpage.call.participate' %>, <%= current_user.name %>?
        <a href="#map-panel-add"><%= t 'frontpage.call.edit' %></a>
      </h2>
    <% else %>
      <h2><%= t 'frontpage.call.anyone' %>
        <a class="big button" href="#"><%= t 'frontpage.call.create_account' %></a>
      </h2>
    <% end %>
  </section>

  <section class="what-is-it-for">
    <h2><%= t 'frontpage.what.what_is_it_for' %></h2>

    <% use_cases.each do |use_case| %>  <%# pages_helper#use_cases %>
      <a href="<%= use_case[:href] %>">
        <div class="topic">
          <h3><%= use_case[:title] %></h3>
          <%= image_tag use_case[:image] %>
          <p><%= use_case[:text] %></p>
        </div>
      </a>
    <% end %>

  </section>


  <section class="projects">
    <h2><%= t('frontpage.projects.title') %></h2>

    <div class="flexslider" data-mpt-components="flexslider">
      <ul class="slides">
        <% projects_slides.each do |proj| %>  <%# pages_helper#projects_slides %>
          <li class="<%= proj[:name] %>">
            <a href="<%= proj[:href] %>"><%= image_tag proj[:image] %></a>
            <p class="testimony">
              “<%= proj[:text] %>” <br/>
              <span class="author-info">
                — <a href="<%= proj[:author_href] %>"><%= proj[:author_name] %></a>,
                <%= raw proj[:author_title] %>.
              </span>
            </p>
          </li>
        <% end %>
      </ul>
    </div>
  </section>


  <section class="news">
    <%= render 'pages/blog_updates', :news => @news %>
    <%= render 'pages/updates', :updates => [] %>
  </section>

</div>
