<div class="frontpage">

  <section class="title">
    <header>
      <span class="maps-logo"></span>
      <h1><%= t 'frontpage.title' %></h1>
    </h1>

    <div class="video">
      <iframe src="http://player.vimeo.com/video/56746348?title=0&amp;byline=0&amp;portrait=0&amp;color=28b8ce" width="600" height="337" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>
  </section>

  <section class="call-for-action">
    <!-- {% if user.is_anonymous %} -->
      <h2><%= t 'frontpage.call.anyone' %>
        <a class="big button" href="#"><%= t 'frontpage.call.create_account' %></a>
      </h2>
    <!-- {% else %} - ->
      <h2><%= t 'frontpage.call.participate' %>, Anderson?
        <a href="#map-panel-add"><%= t 'frontpage.call.edit' %></a>
      </h2>
    <!- - {% endif %} -->
  </section>

  <section class="what-is-it-for">
    <h2><%= t 'frontpage.what.what_is_it_for' %></h2>

    <a href="#use_cases#diagnostico_de_territorio">
      <div class="topic">
        <h3><%= t 'frontpage.what.diagnosis' %></h3>
        <%= image_tag 'imgs/diagnosis.png' %>
        <p><%= t 'frontpage.what.diagnosis_explanation' %></p>
      </div>
    </a>

    <a href="#use_cases#mapeamento_de_redes">
      <div class="topic">
        <h3><%= t 'frontpage.what.network' %></h3>
        <%= image_tag 'imgs/network.png' %>
        <p><%= t 'frontpage.what.network_explanation' %></p>
      </div>
    </a>

    <a href="#use_cases#avaliacao_de_projetos_e_programas">
      <div class="topic">
        <h3><%= t 'frontpage.what.evaluation' %></h3>
        <%= image_tag 'imgs/evaluation.png' %>
        <p><%= t 'frontpage.what.evaluation_explanation' %></p>
      </div>
    </a>

    <a href="#use_cases#jornalismo_de_dados">
      <div class="topic">
        <h3><%= t 'frontpage.what.journalism' %></h3>
        <%= image_tag 'imgs/journalism.png' %>
        <p><%= t 'frontpage.what.journalism_explanation' %></p>
      </div>
    </a>

    <a href="#use_cases#guia_do_bairro">
      <div class="topic">
        <h3><%= t 'frontpage.what.guide' %></h3>
        <%= image_tag 'imgs/guide.png' %>
        <p><%= t 'frontpage.what.guide_explanation' %></p>
      </div>
    </a>
  </section>

</div>
