<%= render 'shared/toolbar', :object => object, :only => tools(object) %>

<div class="site-page <%= "#{ params[:controller] } #{ params[:action] }" %>" >

  <%= remote_form_for @geo_data do |f| %>

    <div class="form-actions" data-components="stick" data-stick='{ "get_width_from": ".site-page" }'>
      <%= submit_tag t('save'), :class => "edit-save" %>
      <%= link_to t('cancel'), url_for(object) %>
    </div>

    <%= render header_partial, f: f, name => object %>
    <%= render 'shared/objects/location', object: object %>

    <%= render content_partial, f: f, name => object %>
  <% end %>
</div>
