<%= render 'shared/toolbar', object: object, only: tools(object) %>

<div class="site-page <%= "#{ params[:controller] } #{ params[:action] }" %>" >

  <%= remote_form_for object do |f| %>

    <%= render 'shared/form_actions', object: object %>

    <div class="side-pane">
      <%= render side_partial, f: f, name => object %>
    </div>

    <div class="central-pane">
      <%= render header_partial, f: f, name => object %>
      <%= render 'shared/objects/location', object: object %>

      <%= render content_partial, f: f, name => object, contributions: @contributions %>
    </div>

  <% end %>
</div>
