<%= render 'shared/toolbar', object: object, only: tools(object) %>

<div class="site-page <%= "#{ params[:controller] } #{ params[:action] }" %>" >

  <div class="side-pane">
    <%= render side_partial, name => object %>
  </div>

  <div class="central-pane">
    <%= render header_partial, name => object %>
    <%= render 'shared/objects/location', object: object %>

    <%= render content_partial, name => object, contributions: @contributions %>
  </div>

</div>
