<section class="pictures edit">
  <p class="field file" >
    <input type="file" class="file-field" name="picture"
           data-components="pictureUploader"
           data-pictureuploader-options='<%= {url: url_for([:picture_upload, object]) }.to_json %>' />
  </p>

  <ul class="pictures-thumbs">
    <% object.pictures.find_all do |picture| %>
      <li data-picture_id="<%= picture.id %>" title="<%= picture.description %>">
        <a href="<%= url_for([object, picture]) %>" class="thumb"
           data-components="modal" data-modal-options='{"remote":"true"}'>

          <%= image_tag picture.image.thumb.url, class: 'thumb-image' %>
        </a>
      </li>
    <% end %>
  </ul>

</section>
