<div class="geometry-selector selector">
  <header><h2><%= geometry_selector_title %></h2></header><section>
  <p class="explanation"><%= geometry_selector_explanation %></p>
  <ul class="geometry-options options">
  <li role="button" class="option" data-geometry-type="Point"><%= marker_button_title %></li>
  <li role="button" class="option" data-geometry-type="Polygon"><%= shape_button_title %></li>
  <li role="button" class="option" data-geometry-type="LineString"><%= line_button_title %></li>
  </ul>
  </section>
</div>
