<div class="relation-metadata">
  <h3><%= metadata_title %>:</h3>
  <textarea id="metadata_description_<%= index %>" class="metadata_description tinymce"
            data-components="editor" data-height="100">
  </textarea>
  <div class="wrapper" data-components="dateRange">
    <div class="time-field inline-field">
      <label for="metadata_start_date_<%=index%>"><%= start_date_label %></label>
      <input type="text" class="metadata_start_date" data-date-range="from" />
    </div>
    <div class="time-field inline-field">
      <label for="metadata_end_date_<%=index%>"><%= end_date_label %></label>
      <input type="text" class="metadata_end_date" data-date-range="to" />
    </div>
    <div class="currency-field inline-field">
      <select class="metadata_currency">
        <option value="usd" title="US dollar">U$</option>
        <option value="eur" title="Euro">&euro;</option>
        <option value="brl" title="Real">R$</option>
      </select>
    </div>
    <div class="amount-field inline-field">
      <label for="metadata_amount_<%=index%>"><%= amount_label %></label>
      <input type="text" class="metadata_amount" data-components="money" />
    </div>
  </div>
</div>
