<li class="list-item small <%= activity.type %>">
  <div class="wrapper">
    <a href="<%= activity.url %>" title="<%= activity.name %>">
      <div class="item-avatar">
        <%= activity.avatar %>
      </div>
    </a>
    <div class="item">
      <div class="activity-event">
        <span class="event-name"><%= activity.event %></span>
        <%= activity.headline %>
      </div>
      <time class="activity-time" datetime="<%= activity.time.to_datetime.rfc3339 %>">
        <%= activity.time_ago %>
      </time>
    </div>
  </div>
</li>
