<!DOCTYPE html>
<html>
<head>
  <title>Meppit</title>
  <%= stylesheet_link_tag "application", media: "all" %>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag "head" %>

  <%= yield :head %>
</head>
<body data-locale="<%= I18n.locale %>">
  <%= render 'shared/header' %>
  <%= render 'shared/alerts' %>

  <div class="wrapper">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>

  <%= render 'sessions/sign_in' %>
  <%= render 'sessions/language_selector' %>

  <script type="text/javascript">
    window.I18n = <%= current_translations[:js].to_json.html_safe %>
  </script>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller]  if javascript_exists?(params[:controller]) %>
</body>
</html>
