<!DOCTYPE html>
<html>
<head>
  <title>Meppit</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    params[:controller] %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>

  <%= csrf_meta_tags %>
</head>
<body>
MEPPIT
<%= yield %>

</body>
</html>
