<!DOCTYPE html>
<html>
<head>
  <title>Meppit</title>
  <%#= stylesheet_link_tag    "application", media: "all" %>
  <%= stylesheet_link_tag    params[:controller] %>

  <%= csrf_meta_tags %>

  <%= javascript_include_tag "head" %>

  <%= yield :head %>
</head>
<body>
  <%= render 'shared/header' %>

  <div class="wrapper">
    <%= yield %>
  </div>

  <%= render 'shared/footer' %>

  <%= render 'sessions/sign_in' %>
  <%= render 'sessions/sign_up' %>

  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag params[:controller] %>
</body>
</html>
