<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag "embed", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "embed" %>
  <%= yield :head %>
</head>
<body data-locale="<%= I18n.locale %>">
  <%= content_for?(:content) ? yield(:content) : yield %>
</body>
</html>
