<% content_for :content do %>
  <%= yield :object_toolbar %>
  <div class="site-page <%= "#{ params[:controller] } #{ params[:action] }" %>" >
    <header class="wrapper">
      <%= yield :object_header %>
    </header>
    <%= content_for?(:object_content) ? yield(:object_content) : yield %>
  </div>
<% end %>
<%= render template: "layouts/application" %>
