<% content_for :content do %>
  <%= render 'shared/toolbar', :object => @user, :only => user_tools(@user) %>
  <div class="site-page <%= "#{params[:controller]} #{params[:action]}"  %>" >
    <% if content_for? :user_side_pane %>
      <%= yield :user_side_pane %>
    <% else %>
      <div class="side-pane">
        <div class="avatar">
          <%= image_tag @user.avatar.thumb.url, :alt => 'user picture' %>
        </div>

        <div class="extra-info" >
          <%= render 'shared/contacts/view', :object => @user %>
          <%= render 'shared/tags', :tags => @user.interests %>
        </div>
      </div>
    <% end %>
    <div class="central-pane">
        <% if content_for? :user_header %>
          <%= yield :user_header %>
        <% else %>
            <header class="wrapper">
            <div class="main-title">
              <h1 class="name"><%= @user.name %></h1>
              <div class="joined"><%= t 'users.profile.joined', date: @user.created_at.to_s(:month_and_year) %></div>
            </div>
            <%= render 'shared/counters', :object => @user, :size => :big %>
          </header>
        <% end %>
      <%= content_for?(:user_content) ? yield(:user_content) : yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
